<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucu.cite.caravanrental"
    android:hardwareAccelerated="true">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/caravanlogo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Caravan"
        android:usesCleartextTraffic="true">
        <activity
            android:name="edu.ucu.cite.caravanrental.PolicyActivity"
            android:exported="false" />
        <activity
            android:name="edu.ucu.cite.caravanrental.UploadedRequirementActivity"
            android:exported="false" />
        <activity
            android:name="edu.ucu.cite.caravanrental.UploadRequirementsActivity"
            android:exported="false" />
        <activity
            android:name="edu.ucu.cite.caravanrental.ChatUsWebviewActivity"
            android:exported="false" />
        <activity
            android:name="edu.ucu.cite.caravanrental.UploadPaymentActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCLLmjstpOHRJZLDkkKZw6K00WtHFDwxKY" />

        <activity
            android:name="edu.ucu.cite.caravanrental.MapsRepairShop"
            android:exported="false"
            android:label="@string/title_activity_maps_repair_shop" />
        <activity
            android:name="edu.ucu.cite.caravanrental.LoginActivity"
            android:exported="false" />
        <activity
            android:name="edu.ucu.cite.caravanrental.SMSOtpActivity"
            android:exported="false" />
        <activity
            android:name="edu.ucu.cite.caravanrental.ViewRentDetails"
            android:exported="false" />
        <activity
            android:name="edu.ucu.cite.caravanrental.MainscreenActivity"
            android:exported="false" />
        <activity
            android:name="edu.ucu.cite.caravanrental.MapsActivity"
            android:label="@string/title_activity_maps" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity android:name="edu.ucu.cite.caravanrental.Pndng_Rents" />
        <activity android:name="edu.ucu.cite.caravanrental.Apprvd_Rents" />
        <activity android:name="edu.ucu.cite.caravanrental.Cmpltd_Rents" />
        <activity android:name="edu.ucu.cite.caravanrental.displayDetails" />
        <activity android:name="edu.ucu.cite.caravanrental.mylist" />
        <activity android:name="edu.ucu.cite.caravanrental.enterRefNum" />
        <activity android:name="edu.ucu.cite.caravanrental.lastpage" />
        <activity android:name="edu.ucu.cite.caravanrental.selectmop" />
        <activity android:name="edu.ucu.cite.caravanrental.review" />
        <activity android:name="edu.ucu.cite.caravanrental.selectvehicle" />
        <activity android:name="edu.ucu.cite.caravanrental.trydriverlist" />
        <activity android:name="edu.ucu.cite.caravanrental.selectpackage" />
        <activity android:name="edu.ucu.cite.caravanrental.Repair_Services" />
        <activity android:name="edu.ucu.cite.caravanrental.SecondActivity" />
        <activity android:name="edu.ucu.cite.caravanrental.Car_Bookings" />
        <activity android:name="edu.ucu.cite.caravanrental.Mainscreen" />
        <activity android:name="edu.ucu.cite.caravanrental.profile" />
        <activity android:name="edu.ucu.cite.caravanrental.PrivacyPolicy" />
        <activity android:name="edu.ucu.cite.caravanrental.TermsOfService" />
        <activity android:name="edu.ucu.cite.caravanrental.RegisterActivity" />
        <activity android:name="edu.ucu.cite.caravanrental.MainActivity" />
        <activity
            android:name="edu.ucu.cite.caravanrental.HomeNotLoggedIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.ucu.cite.caravanrental.SMSOtpActivityOnProfile" />
        <activity android:name="edu.ucu.cite.caravanrental.UserRents" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>